.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: torem(12) torem(20);
  border-radius: 10px;
  background: $secondaryColor;
  color: $whiteColor;
  font-size: $fontSizeSm;
  font-weight: 600;
  line-height: 18px;

  > img {
    height: torem(18);
    width: torem(15);
  }

  &--secondary {
    background: $greyColor;
    color: $secondaryColor;
  }

  @include sm-breakpoint {
    font-size: $fontSizeMd;
  }
}
