.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spaceMd;
  padding: $spaceLg $spaceXl4;
  border-radius: $borderRadius;
  background: $secondaryColor;
  color: $whiteColor;
  font-size: $fontSizeSm;
  font-weight: $fontWeightSemiBold;

  > img {
    height: $spaceXl3;
    width: $spaceXl2;
  }

  &--secondary {
    background: $greyColor;
    color: $secondaryColor;
  }

  @include sm-breakpoint {
    font-size: $fontSizeMd;
    line-height: 1.42;
  }
}
