.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: $spaceLg $spaceXl4;
  border-radius: 10px;
  background: $secondaryColor;
  color: $whiteColor;
  font-size: $fontSizeSm;
  font-weight: 600;
  line-height: 18px;

  > img {
    height: $spaceXl3;
    width: $spaceXl2;
  }

  &--secondary {
    background: $greyColor;
    color: $secondaryColor;
  }

  @include sm-breakpoint {
    font-size: $fontSizeMd;
  }
}
