.navbar__submenu {
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  min-width: torem(420);
  padding: 25px 30px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 50px 0px rgba(21, 47, 89, 0.05);
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  transition: all 0.3s ease;

  > li {
    flex: 0 1 calc(50% - 15px);
    padding: 0;

    > a {
      align-items: center;
      gap: torem(15);

      .navbar__icon__text {
        display: flex;
        flex-direction: column;
        gap: 3px;
        color: #b8bfcc;
        font-size: 14px;

        > img {
          width: torem(60);
          height: torem(60);
        }

        > p {
          &:first-child {
            font-weight: 600;
            color: #152f59;
          }
        }

        .rating {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }

  .button {
    width: 100%;
  }
}
