body {
  font-family: 'Inter', sans-serif;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: inherit;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile {
  display: block;

  @include md-breakpoint {
    display: none;
  }
}
