// Breakpoints
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;

// Colors
$mainColor: #152f59;
$secondaryColor: #3981f3;
$whiteColor: #fff;
$whiteDarkColor: #e6efff;
$greyColor: #f2f7ff;
$greyDarkColor: #d9d9d9;
$blueLightColor: #9cc0f9;
$redColor: #f33939;
$greenColor: #80f339;
$greenDarkColor: #017b59;
$darkColor: #003b77;

// Font sizes
$fontSize: 16px;
$fontSizeSm: 12px;
$fontSizeMd: 14px;
$fontSizeLg: 18px;
$fontSizeXl: 20px;
$fontSizeXl2: 24px;
$fontSizeXl3: 32px;
$fontSizeXl4: 36px;
$fontSizeXl5: 48px;
