.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense;
  gap: torem(30);

  .head {
    grid-column: 1 / -1;
  }

  .left-side {
    grid-column: 1 / 3;
  }

  .right-side {
    grid-column: 3 / 4;
  }
}
