.header {
  padding: $spaceXl4 0;
  background: $whiteColor;
  border-radius: 0 0 $borderRadiusMd $borderRadiusMd;
  box-shadow: $shadow;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include sm-breakpoint {
    padding: $spaceXl6 0;
    border-radius: 0;
    box-shadow: $shadowSm;
  }
}

.home {
  .header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-top: $spaceXl4;
    background: transparent;
    border-radius: 0;
    box-shadow: none;

    @include sm-breakpoint {
      top: $spaceXl6;
      padding-top: 0;
    }
  }
}
