.header {
  position: relative;
  padding-top: $spaceXl4;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include sm-breakpoint {
    padding-top: $spaceXl6;
  }
}
