.home {
  background-color: #fafafa;

  .header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-top: $spaceXl4;
    background: transparent;
    border-radius: 0;
    box-shadow: none;

    @include sm-breakpoint {
      top: $spaceXl6;
      padding-top: 0;
    }
  }
}
