.section {
  h2 {
    @include sectionTitle;
  }

  .wrapper {
    padding: torem(20);
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgba(21, 47, 89, 0.05);
  }

  .more {
    display: flex;
    justify-content: center;
    padding-top: torem(20);

    a {
      position: relative;
      padding-left: torem(15);
      color: #3981f3;
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: torem(8);
        height: torem(8);
        background-image: url('@images/icon-more.svg');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    @include sm-breakpoint {
      button {
        font-size: 14px;
      }
    }
  }

  @include sm-breakpoint {
    .wrapper {
      padding: torem(20) torem(30);
    }
  }

  &--list {
    h2 {
      text-transform: uppercase;
    }
    @include sm-breakpoint {
      h2 {
        text-align: center;
      }

      .items {
        display: flex;
        justify-content: space-between;
        gap: clamp(torem(10), 4vw, torem(50));
        padding: 30px 0;
        border-bottom: 1px solid #e6efff;

        > article {
          flex: 1;
        }
      }
    }
  }

  &--aside {
    .details__content {
      ul {
        display: flex;
        flex-direction: column;
        gap: torem(20);

        a {
          color: #3981f3;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          text-decoration-line: underline;
        }
      }
    }
  }
}
