{% macro button(url, icon, title, type="button", isSecondary) %} {% if url %}
<a
  href="{{ url }}"
  class="button {% if isSecondary %}button--secondary{% endif %}"
  aria-label="{{ title }}"
>
  {{title}}
</a>

{% elseif url and icon %}
<a
  href="{{ url }}"
  class="button {% if isSecondary %}button--secondary{% endif %}"
  aria-label="{{ title }}"
>
  <img src="@images/{{ icon }}" alt="{{title}}" />
</a>

{% elseif icon %}
<button
  type="{{ type}}"
  class="button {% if isSecondary %}button--secondary{% endif %}"
  aria-label="{{ title }}"
>
  <img src="{{ icon }}" alt="{{title}}" />
</button>

{% else %}
<button
  type="{{ type }}"
  class="button {% if isSecondary %}button--secondary{% endif %}"
  aria-label="{{ title }}"
>
  {{title}}
</button>
{% endif %} {% endmacro %}
