{% macro review(avatar, name, date, text) %}
<div class="review">
  <div class="review__head">
    <div class="image">
      <img src="@images/{{avatar}}.png" alt="{{name}}" />
    </div>
    <div class="content">
      <div class="content__name">{{name}}</div>
      <div class="content__stars">
        <div class="item">{% include 'src/html/components/stars.html' %}</div>
        <div class="item">{{date}}</div>
      </div>
    </div>
  </div>
  <div class="review__text">{{text}}</div>
  <div class="review__buttons">
    {% include 'src/html/components/like.html' %} {% include
    'src/html/components/reply.html' %}
  </div>
</div>
{% endmacro %}
