<!DOCTYPE html>
<html lang="en-in">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Applications of the best bookmakers for android"
    />
    <meta name="keywords" content="bets, android" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../scss/style.scss" rel="stylesheet" />
    <title>Not found</title>
  </head>

  <body class="body" itemscope itemtype="https://schema.org/WebPage">
    <div class="content">
      <header class="header" itemscope itemtype="https://schema.org/WPHeader">
        <meta itemprop="headline" content="Android Bets" />
        <meta
          itemprop="description"
          content="Applications of the best bookmakers for android"
        />
        <meta itemprop="keywords" content="bets, android" />
        {% include "src/html/layouts/header.html" %}
      </header>
      <main class="main" role="main">
        {% include "src/html/layouts/notFoundMain.html" %}
      </main>
      <footer
        class="footer"
        aria-label="Site"
        itemscope
        itemtype="https://schema.org/WPFooter"
      >
        {% include "src/html/layouts/footer.html" %}
      </footer>
    </div>
  </body>
</html>
