<section id="hero" class="hero">
  <div class="container">
    <div class="wrapper">
      <div class="item">
        <h1>
          Applications
          <span>of the best bookmakers</span>
          <p>
            for android <img src="@images/android.svg" alt="android icon" />
          </p>
        </h1>
        <p>Just select and install the app suitable for you from our rating</p>
      </div>
      <div class="item"><img src="@images/hero-image.png" alt="Phone" /></div>
    </div>
  </div>
</section>
