<section id="rating" class="section section--rating">
  <div class="wrapper">
    <details class="details">
      <summary>
        <h2>How we make a rating</h2>
        <img src="@images/icon-down.svg" alt="accrordion icon" />
      </summary>
      <div class="details__content">
        <div class="item">
          <p>
            Having selected the most popular applications from bookmakers in
            India, we compile a list of key parameters. These are the
            characteristics that our users would consider to be the
            <strong>best betting app</strong>. So, among the parameters we can
            note:
          </p>
          <ol>
            <li>
              Application reliability. Reliability when searching for software
              to download to a smartphone, it is important to comply with
              increased data protection standards.
            </li>
            <li>
              Functionality. The presence of basic (pre-match and live line) and
              additional (Fast Games, Table Slots, Crash-Games) sections in the
              application.
            </li>
            <li>
              Interface. Intuitive navigation. Main menu: registration, login,
              sports line, auxiliary menu: validator for license verification,
              chat with support, personal account sections, including bonuses,
              cash register and tournaments.
            </li>
            <li>
              Betting market range. The presence of a wide betting line at the
              bookmaker itself also affects the final rating of the application.
            </li>
          </ol>
        </div>
      </div>
    </details>
  </div>
</section>
