<div class="tab-wrap">
  <input type="radio" id="tab4" name="tabGroup2" class="tab" checked />
  <label for="tab4">About</label>

  <input type="radio" id="tab5" name="tabGroup2" class="tab" />
  <label for="tab5">Advantages</label>

  <input type="radio" id="tab6" name="tabGroup2" class="tab" />
  <label for="tab6">Versions</label>

  <input type="radio" id="tab7" name="tabGroup2" class="tab" />
  <label for="tab7">How to download</label>

  <div class="tab__content">
    <h3>1xBet App Download for Android</h3>
    <p>
      The official 1xBet APP offers bookmaker customers to place bets, play
      slots, activate the 33,000 rupees bonus when replenishing their account,
      contact support and conduct transactions. Our editors downloaded the
      application, studied its capabilities and prepared for you a detailed
      review.
    </p>
    <p>The main advantages of the application from the bookmaker 1xBet:</p>
    <button class="tab__content__more">Read more</button>
    {% include "src/html/components/tags.html" %}
  </div>

  <div class="tab__content">
    <h3>Oranges</h3>
    <p>
      Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum
      turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam
      accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec,
      vulputate eget, arcu.
    </p>

    <p>
      In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi
      mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis
      mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.
    </p>
  </div>

  <div class="tab__content">
    <h3>Bananas</h3>
    <p>
      Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum
      turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam
      accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec,
      vulputate eget, arcu.
    </p>
  </div>

  <div class="tab__content">
    <h3>Kiwis</h3>
    <p>Praesent nonummy mi in odio.</p>
  </div>
</div>
