<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Applications of the best bookmakers for android"
    />
    <meta name="keywords" content="bets, android" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./scss/style.scss" rel="stylesheet" />
    <title>Bets</title>
  </head>

  <body>
    <header class="header">{% include "src/html/layouts/header.html" %}</header>
    <main class="main" role="main">
      {% include "src/html/layouts/main.html" %}
    </main>
    <footer class="footer"></footer>
  </body>
</html>
